// valores
$separacionContenido: 86px;

// cabecera página
nav.innovanda_cabecera{
    position:fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
}

div.innovanda_contenido{
    margin-top: $separacionContenido;
    padding-top:10px;
}

img.logo{
    height: 70px;
    width: 380px;
    cursor: pointer;
}

@media (max-width: 770px){
    img.logo{
        height: 70px;
        width: 80px;
        object-fit: cover;
        object-position: left;
    }
}
/**
* Listados de página principal
*/

div.tituloCategoria {
    background: #04552a;
    font-size: 15px;
}
div.tituloCategoria i{
    margin: 0 0 0 20px;
}
div.barravideos{
    padding-top: 5px;
    background: #007336;
    min-height: 240px;
}
div.barravideos > ul{
    padding: 15px 40px 2.3em;
    transition: all 0.6s ease-in-out 0ms;
}
div.gradientContainer {
    background: linear-gradient(180deg,transparent 0,transparent 33%,rgba(0,0,0,.8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#bf000000",GradientType=0);
}

li.video {
    width: 308px;//16.6%;
    flex-shrink: 0;
    z-index: 1;
    cursor: pointer;
    //transition: all .2s ease-in-out 0ms;
    list-style: none;
}
li.video:hover {
    margin-top: 4px;
    transform: scale(1.1);
    z-index: 10;
}
li.video:hover .titulo{
    opacity: 1;
}
// flechas
div.contenedorflecha{
    cursor: pointer;
    display: block;
    background: #161616;
    height: 180px;
    width: 40px;
    position: absolute;
    opacity: 0.6;
    margin-top: 20px;
    z-index: 12;
}
div.contenedorflecha:hover{
    opacity: 1;
}
div.contenedorflecha.derecha {
    right: 0px;
}
div.contenedorflecha.izquierda {
    left: 0px;
}

span.flecha{
    position: absolute;
    margin-top: 85px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-family: sans-serif;
}

div.info_estadistica{
    float: right;
    margin-right: 15px;
    //display: inline-block;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
/*div.info_estadistica div.votos{
    margin-right: 90px;
}*/
div.info_estadistica i{
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 0 8px 0 20px;
    
}

div.ver_mas{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: rgb(0, 0, 255);
    cursor: pointer;
    background-color: white;
    padding: 2px 8px;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    text-align: center;
}
div.ver_video_texto_inf{
    height:60px; 
    overflow:clip; 
    /*text-overflow:ellipsis; */
    margin-right:0; 
    position:relative; 
    width:100%;
    width: calc(100% - 75px);
}
div.ver_video_texto_inf h5{
    margin-bottom: 5px;
    margin-right: 90px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#toastPlacement{
    z-index: 200;
}
#nota{
    width: 480px;
}
#nota .col{
    text-align: center;
}
#nota .enlace{
    border:1px solid #aaaaaa;
    border-radius: 3px;
    background-color: #f9f9f9;
    margin-top: 15px;
    padding: 8px 12px;
}
#nota img{
    cursor: pointer;
}
@media (max-width: 450px) , (max-height: 400px){
    #nota img{
        width: 45px;
        height: 45px;
    }
}

.compartir{
    display: inline-block;
    cursor: pointer;
    margin-right: 80px;
}
.copiar{
    float: right;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 375px) , (max-height: 370px){
    .copiar{
        display: none;
    }
}

@media (max-width: 790px) , (max-height: 630px){
    .nreproducciones{
        display: none;
    }

}
@media (max-width: 570px) , (max-height: 490px){
    .votos{
        display: none;
    }

}

@media (max-width: 535px) , (max-height: 470px){
    .textosiconoscompartir{
        display: none;
    }
}
/**
    administración
*/

// menú
.menu{
    justify-content: center !important;
}
.menuusuario{
    justify-content:flex-end !important;
}
.menuusuario span.usuario{
    margin-right:15px;
}

// login
div.cuadroLogin{
    display: flex;
    padding-top: 50px;
    //margin-top: 50px;
}
div.cuadroLogin div{
    flex: 1 1;
}
div.cuadroLogin div:nth-child(2) {
    max-width: 400px;
}
div.cuadroLogin div:nth-child(2) div{
    margin-bottom: 20px;
}
div.cuadroLogin div.centrar{
    text-align: center;
}

// diálogo
div.cuadroError{
    margin-top: 1rem;
    margin-bottom: 0;
}

// botón añadir
div.anadir{
   margin: 10px 0;
   text-align: center;
   width: 100%; 
}

// caja categoría
div.catOculta{
    opacity: 0.6;
}
div.catOculta .card-body{
    background-color: #ddd;
}
p.url{
    font-style: italic;
}

// videos
button.categoriaVideo{
    border-radius:0.25rem;
    font-size: 1rem;
    padding:0.375rem 0.75rem;
    border:1px solid #198754;
    background-color: transparent;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
    color: #198754;
    cursor: default;
}
div.selCat{
    max-height: 550px;
    overflow: auto;
}
i.iconoInfo{
    scale: 150%;
    cursor: pointer;
}
div.cuadroInfo{
    display:none;
    position:absolute;
    left:0;
    top:0;
    background-color:#ffffff;
    //width:100px;
    //height:100px;
    z-index:150;
    opacity: 0.95;
    margin: 1rem;
    overflow-y: scroll;
}
div.cuadroInfo h2{
    margin: 10px 14px;
}
div.cuadroInfo p{
    margin-left: 14px;
    margin-right: 14px;;
}
// contenedor
/*.container-sinlimite{
    max-width: 95%;
    margin:0 auto;
}*/