// valores
$separacionContenido: 86px;

nav.innovanda_cabecera{
    position:fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
}

div.innovanda_contenido{
    margin-top: $separacionContenido;
    padding-top:10px;
}

/**
* Listados de página principal
*/

div.tituloCategoria {
    background: #404040;
    font-size: 15px;
}
div.barravideos{
    padding-top: 5px;
    background: #404040;
    min-height: 240px;
}
div.barravideos > ul{
    padding: 15px 40px 2.3em;
    transition: all 0.6s ease-in-out 0ms;
}
div.gradientContainer {
    background: linear-gradient(180deg,transparent 0,transparent 33%,rgba(0,0,0,.8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#bf000000",GradientType=0);
}
/*.horizontal-padding{
    padding: 15px 2% 2.3em;
}
.movement {
    transition: all 0.6s ease-in-out 0ms;
}*/
li.video {
    width: 308px;//16.6%;
    flex-shrink: 0;
    z-index: 1;
    cursor: pointer;
    //transition: all .2s ease-in-out 0ms;
    list-style: none;
}
li.video:hover {
    margin-top: 4px;
    transform: scale(1.1);
    z-index: 10;
}
li.video:hover .titulo{
    opacity: 1;
}
// flechas
div.contenedorflecha{
    cursor: pointer;
    display: block;
    background: #161616;
    height: 180px;
    width: 40px;
    position: absolute;
    opacity: 0.4;
    margin-top: 20px;
    z-index: 12;
}
div.contenedorflecha:hover{
    opacity: 1;
}
div.contenedorflecha.derecha {
    right: 0px;
}
div.contenedorflecha.izquierda {
    left: 0px;
}

span.flecha{
    position: absolute;
    margin-top: 85px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-family: sans-serif;
}

/**
    administración
*/

// menú
.menu{
    justify-content: center !important;
}
.menuusuario{
    justify-content:flex-end !important;
}
.menuusuario span.usuario{
    margin-right:15px;
}

// login
div.cuadroLogin{
    display: flex;
    padding-top: 50px;
    //margin-top: 50px;
}
div.cuadroLogin div{
    flex: 1 1;
}
div.cuadroLogin div:nth-child(2) {
    max-width: 400px;
}
div.cuadroLogin div:nth-child(2) div{
    margin-bottom: 20px;
}
div.cuadroLogin div.centrar{
    text-align: center;
}

// diálogo
div.cuadroError{
    margin-top: 1rem;
    margin-bottom: 0;
}

// botón añadir
div.anadir{
   margin: 10px 0;
   text-align: center;
   width: 100%; 
}

// caja categoría
div.catOculta{
    opacity: 0.6;
}
div.catOculta .card-body{
    background-color: #ddd;
}

// videos
button.categoriaVideo{
    border-radius:0.25rem;
    font-size: 1rem;
    padding:0.375rem 0.75rem;
    border:1px solid #198754;
    background-color: transparent;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
    color: #198754;
    cursor: default;
}
div.selCat{
    max-height: 550px;
    overflow: auto;
}